.home-container {
    text-align: center;
    margin-top: 50px;
  }
  
  .home-title {
    font-size: 2.5rem;
    font-weight: bold;
    color: #4caf50;
  }
  
  .home-description {
    margin-top: 10px;
    font-size: 1.2rem;
    color: #555;
  }
  
  .button-container {
    margin-top: 30px;
  }
  
  .home-button {
    padding: 10px 20px;
    margin: 10px;
    font-size: 1rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background-color: #4caf50;
    color: white;
    transition: all 0.3s ease;
  }
  
  .home-button:hover {
    background-color: #388e3c;
  }
  