body {
  margin: 0;
  font-family: "Roboto", sans-serif;
  background-color: #f4f4f4;
  color: #333;
}

h1, h2, h3, p {
  margin: 0;
}

button {
  font-family: "Roboto", sans-serif;
  cursor: pointer;
}

a {
  text-decoration: none;
  color: inherit;
}
